html, body {text-align:center}
.body {font-family: 'Ownglyph Joneulbo'; font-weight: 100;}
.main {font-size: 30px;]
.sub {font-size: 25px;}
.bigbutton {font-size: 16px;}


@font-face {
	font-family: 'Ownglyph Joneulbo', Regular;
	font-weight: 100;
	src: local('Ownglyph Joneulbo Regular')	     
         url('ownglyphjoneulbo/ownglyphjoneulbo.woff') format('woff'),
         url('ownglyphjoneulbo/ownglyphjoneulbo.woff2') format('woff2'),
         url('ownglyphjoneulbo/ownglyphjoneulbo.ttf') format('truetype');}
